recursive-include rocisa *.hpp *.cpp *.txt *.cmake
recursive-exclude rocisa/build *.txt
recursive-include Tensile *.py *.h *.hpp *.cpp *.txt *.cmake *.yaml
recursive-include Tensile/CustomKernels *.s
include Tensile/bin/Tensile Tensile/bin/TensileCreateLibrary
include Tensile/Ops/gen_assembly.sh
include requirements.txt
