recursive-include Tensile *.py *.h *.hpp *.cpp *.txt *.cmake *.yaml
recursive-include Tensile/CustomKernels *.s
include Tensile/bin/TensilePy Tensile/bin/TensileCreateLibraryPy
include Tensile/Ops/gen_assembly.sh
include requirements.txt
